name: copy-master-smash-to-gh-pages

on: 
  push:
    branches:
      - master
      - test-actions-publish

jobs:
  deploy-to-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository at gh-pages branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # all branches and all tags
      - name: Commit smash to gh-pages branch
        run: |
          ref=${GITHUB_REF##*/}
          # source: https://github.com/actions/checkout#push-a-commit-to-a-pr-using-the-built-in-token
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout gh-pages
          git checkout $ref smash && git add smash
          git commit -m"Update smash from $ref"
          git push
