on: 
  push:
    branches:
      - master
      - test-actions

jobs:
  copy-smash-to-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository at gh-pages branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # all branches and all tags
      - name: Commit smash to gh-pages branch
        run: |
          # source: https://github.com/actions/checkout#push-a-commit-to-a-pr-using-the-built-in-token
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout gh-pages
          git checkout $GITHUB_REF_NAME smash 
          git status --porcelain | grep -q . || exit
          git add smash
          # source: https://stackoverflow.com/a/949391
          git commit -m"Update smash from $ref @t$(git rev-parse --short=7 HEAD)"
          git push
